@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
.quote-container{
    width: auto;
    height: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(238, 96, 96, 0.4);
    box-shadow: 0 15px 30px 15px rgba(0, 0, 0, 0.2);
}

.quote-mark{
    font-size: 3.5rem;
}

.change-font{
    font-family: Graduatee;

}

.change-author-font{
    font-family: Delius;
}

.regular-author-font{
    font-family: Shadows Into Light Two, sans-serif;
}
/* when the text lenth is more , we want to shrink the text size*/
.long-quote{

    font-size: 2rem;
}

.quote-text{
    font-size: 2.75rem;
}


.quote-author{
    text-align: end;
    margin-right: 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 2px;
}

.button-container{
    display: flex;
    justify-content: space-between;

}

button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-family: Zilla Slab, sans-serif;
    font-size: 1.2rem;
    height: 2.5rem;
    outline: none;
    padding: 0.3rem 1.2rem;
    box-shadow: 0 0.3rem   rgba(121, 121, 121, 0.6);
}

button:hover{
    filter: brightness(110%);
}

button:active{
    transform: translate(0,0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.2);
}

.new-quote{
    background-color: #000;
    color: #cc1212;
}

.new-quote:hover{
    background-color: #cc1212;
    color: #000;
    font-weight: 700;
}

#twitter{
    background-color: #1b95e0;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

#twitter:hover{
    color: #38a1f3;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
}



/*Media query: tablet or smaller*/

@media screen and (max-width:1000px) {

    .quote-container{
        margin: auto 10px;
    }

    .quote-text{
        font-size: 2.5rem;
    }
}